<section id="accounts">

	<a class="email account" href="mailto:contact@iqandreas.com">Email Andreas Renberg</a>
	<a class="twitter2 account" href="http://twitter.com/IQAndreas">@IQAndreas on Twitter</a>
	<a class="github account" href="http://github.com/IQAndreas">IQAndreas on GitHub</a>
	<a class="skype account" href="/contact/skype/">IQAndreas on Skype</a>
	<a class="facebook account" href="/contact/facebook/">Andreas Renberg on Facebook</a>
	<a class="kirupa account" href="http://www.kirupa.com/forum/member.php?134305-IQAndreas">IQAndreas on the Kirupa Forums</a>
	<a class="stackoverflow account" href="http://stackoverflow.com/users/617937/iqandreas">IQAndreas on StackOverflow</a>
	
</section>
