/*@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);*/

span#andreas-renberg {
	font-family: 'Roboto Slab', serif;
}

span#title-compact {
	font-family: 'Roboto Slab', serif;
	font-size: 32px;
}

span#iqandreas {
	font-size: 120%;
	font-weight: bold;
	font-family: 'Roboto Slab', serif;
}
span#iq {
	font-size: 90%;
	color:rgb(0, 144, 255);
}
span#andreas {
	
}


