{% include lists/blog_post.html title="Why My One Line if Statements Are Unusual" url="http://blog.iqandreas.com/actionscript/why-my-one-line-if-statements-are-unusual/" %}
{% include lists/blog_post.html title="Best Practices for Git Ignore" url="http://blog.iqandreas.com/git/best-practices-for-git-ignore/" %}
{% include lists/blog_post.html title="ActionScript: How to Ignore the Constructor When Extending a Class" url="http://blog.iqandreas.com/actionscript/how-to-ignore-the-constructor-when-extending-a-class/" %}
{% include lists/blog_post.html title="Pick a Community, Any Community" url="http://blog.iqandreas.com/monologues/pick-a-community-any-community/" %}
{% include lists/blog_post.html title="I Will Code for Free!" url="http://blog.iqandreas.com/i-will-code-for-free/" %}
{% include lists/blog_post.html title="Why So Many Monologues?" url="http://blog.iqandreas.com/monologues/why-so-many-monologues/" %}
{% include lists/blog_post.html title="The Problems With Being Self Taught" url="http://blog.iqandreas.com/monologues/the-problems-with-being-self-taught/" %}
{% include lists/blog_post.html title="What Is a Theoretical Developer?" url="http://blog.iqandreas.com/monologues/what-is-a-theoretical-developer/" %}
