{% include lists/blog_post.html title="Create an Analog Clock Using the HTML5 Canvas" url="http://www.kirupa.com/html5/create_an_analog_clock_using_the_canvas.htm" favicon="http://www.kirupa.com/favicon.ico" %}
{% include lists/blog_post.html title="What Are the Default Permissions for Files in Ubuntu?" url="http://blog.iqandreas.com/ubuntu/what-are-the-default-permissions-for-files-in-ubuntu/" %}
{% include lists/blog_post.html title="GIT: How to Move Tags" url="http://blog.iqandreas.com/git/how-to-move-tags/" %}
{% include lists/blog_post.html title="GIT: Storing HTTPS Authentication in Ubuntu (and Arch Linux)" url="http://blog.iqandreas.com/git/storing-https-authentication-in-ubuntu-and-arch-linux/" %}
{% include lists/blog_post.html title="Why My One Line if Statements Are Unusual" url="http://blog.iqandreas.com/actionscript/why-my-one-line-if-statements-are-unusual/" %}
{% include lists/blog_post.html title="Best Practices for Git Ignore" url="http://blog.iqandreas.com/git/best-practices-for-git-ignore/" %}
{% include lists/blog_post.html title="ActionScript: How to Ignore the Constructor When Extending a Class" url="http://blog.iqandreas.com/actionscript/how-to-ignore-the-constructor-when-extending-a-class/" %}
{% include lists/blog_post.html title="Pick a Community, Any Community" url="http://blog.iqandreas.com/monologues/pick-a-community-any-community/" %}
<!--{% include lists/blog_post.html title="I Will Code for Free!" url="http://blog.iqandreas.com/i-will-code-for-free/" %}
{% include lists/blog_post.html title="Why So Many Monologues?" url="http://blog.iqandreas.com/monologues/why-so-many-monologues/" %}
{% include lists/blog_post.html title="The Problems With Being Self Taught" url="http://blog.iqandreas.com/monologues/the-problems-with-being-self-taught/" %}
{% include lists/blog_post.html title="What Is a Theoretical Developer?" url="http://blog.iqandreas.com/monologues/what-is-a-theoretical-developer/" %}-->
