<!-- STYLESHEETS -->
{% include css global="reset.css" %}
{% if site.pygments %}{% include css global="pygments-syntax-hilighting.css" %}{% endif %}

{% if page.layout == "slate" %}
	<!-- Styles for the Slate theme by by Jason Costello (@jsncostello) -->
	{% include css global="slate/main.css" %}
	{% include css global="slate/custom.css" %}
	{% include css name="slate/header.css" %}
	{% include css name="slate/footer.css" %}
	{% include css name="accounts.css" %}
{% endif %}
	
{% include css url="http://www.iqandreas.com/flink/stylesheets/all.css" %}
{% include css global="snippets.css" %}
{% include css global="tiny-images.css" %}
{% include css name="lists.css" %}

